/*
Theme Name:     Rain Tree Theme
Theme URI: 		http://demos.artbees.net/jupiter5
Description:    Child theme for the Jupiter theme
Author:         Horton Group
Theme URI: 		http://themeforest.net/user/artbees
Template:       jupiter
Author URI: http://hortongroup.com
Text Domain: mk_framework
Domain Path: /languages/
*/

.page-id-7 .shopping-cart-header.add-header-height {
  display: none;
}

/* body, body p {
  -webkit-font-smoothing: subpixel-antialiased;
} */

/* Fixes Fancy Title colors */
.mk-fancy-title.color-single span, .mk-fancy-title.color-single p {
  color: inherit;
}

// Color Variables
$brand-blue: #4a7d95;

/* Helper Classes Start */

.bw-bg {
 .background-layer {
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
  }
}

@media (min-width: 820px) {
  #theme-page .inline-buttons {
    .wpb_wrapper {
      display: table;
      margin: 0 auto;
    }
    .mk-button-container.text-center {
      float: left;
      clear: none;
      padding: 0 10px;
    }
  } 
}
@media (max-width: 819px) {
  #theme-page .inline-buttons .wpb_wrapper .mk-button-container.text-center {
    margin-bottom: 20px;
  }
}



.p-warning p {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: inline-block;
  padding: 0 13px;
  margin: 0 auto;
}

#theme-page .d-flex {
  display: flex;
}

.display-none {
  display: none;
}

#theme-page .flex-d-column {
  flex-direction: column;
}

#theme-page .justify-content-center {
  justify-content: center;
}

.p-dark p {
  color: #000;
}

#theme-page .p-light {
  p, h3 {
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: .015em;
  }
  h3 {
    color: #fff;
  }
  p strong {
    color: #fff;
  }
} 

.p-400 p {
  font-weight: 400;
}

.p-18 p {
  font-size: 18px;
}

.p-20 p {
  font-size: 20px;
}

.pb-40 {
  padding-bottom: 40px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}
.mb-70 {
  margin-bottom: 70px;
}

/* Helper Classes Finish */

.coming-soon-logo-1 img {
  max-width: 320px
}

.coming-soon-logo-2 img {
  max-width: 370px
}

// .home .nf-form-layout {
//   padding: 16px 20px;
//   background-color: rgba(255, 255, 255, 0.77);
// }
// .home .mk-nav-responsive-link {
//   display: none;
// }

// @media handheld, only screen and (max-width: 1140px) {
//   .header-style-1 .mk-nav-responsive-link {
//     display: none !important;
//   }
// }

@media (max-width: 1024px) {
  // .home #theme-page .d-flex {
  //   display: block;
  //   width: 100%;
  // }
}

/* Buttons */

.mk-button .mk-button--text {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 120%;
}

/* .button-white .mk-button .mk-button--text {
  color: #fff;
} */



/* MAIN NAV */

.menu-hover-style-5 .main-navigation-ul>li.menu-item>a.menu-item-link:after {
  margin-top: 2px !important;
  background-color: rgba(98, 142, 165, 0.22) !important;
}

/* floating cart button */

.add-cart-responsive-state .mk-header-cart-count {
  background: #5c90a6;
}


@media handheld, only screen and (max-width: 1000px) {

}



/*overriding theme default response behavior for homepage */

.page-id-48 {
  @media handheld, only screen and (max-width: 960px) {
    .theme-page-wrapper:not(.full-width-layout) {
      padding: 0;
    }
  }
  @media handheld, only screen and (max-width: 400px) {
    .home-image-grid-wrap .mk-padding-wrapper {
      padding: 0 0px;
      .vc_col-sm-12 {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  
  @media only screen and (max-width: 1024px) and (min-device-width: 320px) {
    .mk-page-section.home-banner-section {
      background-position: unset!important;
      background-attachment: scroll!important;
      background-position-y: calc(100% - 9%) !important;
    background-position-x: calc(100% - -150px) !important;
    }
  }
  @media handheld, only screen and (max-width: 1000px) {
    .mk-page-section:not(.full_layout) .mk-page-section-inner {
      width: 100%;
      height: 500px;
    }
    .mk-half-layout {
      width: 100%;
      height: 600px;
    }
    .mk-half-layout-container {
      width: auto!important;
      margin: 0;
      padding-top: 620px!important;
      padding-left: 20px;
      padding-right: 20px;
      float: none!important;
    }
  }
  @media handheld, only screen and (max-width: 400px) {
    .mk-half-layout-container {
      width: auto!important;
      margin: 0;
      padding-top: 500px!important;
    }
    .mk-half-layout {
      width: 100%;
      height: 500px;
    }
  }
  
}

// @media only screen and (max-width: 1024px) and (min-device-width: 320px) {
//   .mk-page-section.home-banner-background {
//     background-position: unset!important;
//     background-attachment: scroll!important;
//     background-position-y: calc(100% - 9%) !important;
//   background-position-x: calc(100% - -150px) !important;
//   }
// }


/* HOME PAGE */

.home-brand-image .mk-image-holder img {
  max-width: 300px;
}
.home-banner-background {
  height: 1290px;
  position: absolute;
  left: 0;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-size: cover;

  


  @media screen and (min-width: 1901px) {
   background-position-y: calc(100% - 41%);;
  }
  @media screen and (max-width: 1900px) and (min-width: 1801px) {
    background-position-y: calc(100% - 40%);
  }
  @media screen and (max-width: 1800px) and (min-width: 1701px) {
    background-position-y: calc(100% - 40%);
  }
  @media screen and (max-width: 1700px) and (min-width: 1601px) {
    background-position-y: calc(100% - 40%);
  }
  @media screen and (max-width: 1600px) and (min-width: 1401px) {
    background-position-y: calc(100% - 40%);
  }
  @media screen and (max-width: 1400px) {
    background-size: unset;
    background-position-y: calc(100% - 40%);
    background-position-x: calc(100% - -150px);
  }
  @media screen and (max-width: 1000px) and (min-width: 900px) {
    background-position-y: calc(100% - 50%);
  }
  @media screen and (max-width: 901px) and (min-width: 800px) {
    background-position-y: calc(100% - 60%);
  }
  @media screen and (max-width: 801px) and (min-width: 700px) {
    background-position-y: calc(100% - 70%);
  }
  @media screen and (max-width: 701px) and (min-width: 600px) {
    background-position-y: calc(100% - 70%);
  }
  @media screen and (max-width: 601px) and (min-width: 500px) {
    background-position-y: calc(100% - 90%);
  }
  @media screen and (max-width: 501px) and (min-width: 400px) {
    background-position-y: calc(100% - 120%);
  }
  @media screen and (max-width: 401px) and (min-width: 300px) {
    background-position-y: calc(100% - 340%);
    height: 1600px;
  }
}
.home-banner-section {
  background-repeat: no-repeat;
  background-size: cover;

  .home-banner-row-below-waterline {
    .mk-text-block {
      max-width: 840px;
      margin: 0 auto;
    }
    @media screen and (min-width: 1901px) {
      padding-top: 200px;
    }
    @media screen and (max-width: 1900px) and (min-width: 1801px) {
      padding-top: 200px;
    }
    @media screen and (max-width: 1800px) and (min-width: 1701px) {
      padding-top: 200px;
    }
    @media screen and (max-width: 1700px) and (min-width: 1601px) {
      padding-top: 200px;
    }
    @media screen and (max-width: 1600px) and (min-width: 1401px) {
      padding-top: 200px;
    }
    @media screen and (max-width: 1400px) {
      padding-top: 200px;
    }
  }
}
.home-banner-section .mk-button {
  background-color: rgba(255, 255, 255, 0.37);
} 

.home-blue-section .mk-image-holder img {
  max-width: 130px;
  padding-bottom: 10px;
}
.home-blue-section .mk-product-loop.compact-layout .product-link {
  // height: 280px;
}
.home-blue-section {

  @media screen and (min-width: 1101px) {
    .show-at-1100 {
      display: none;
    }
    .hide-at-1100 {
      display: block;
    }
  }
  @media screen and (max-width: 1100px) {
    .show-at-1100 {
      display: block;
    }
    .hide-at-1100 {
      display: none;
    }
  }
  @media screen and (max-width: 1099px) and (min-width: 768px) {
    .show-at-767 {
      display: none;
    }
  }
  @media screen and (max-width: 767px) {
    .hide-at-767 {
      display: none;
    }
    .show-at-767 {
      display: block;
    }
  }
   

  .mk-product-loop .product-loop-thumb {

    @media screen and (min-width: 1101px) {
      height: 270px;
      overflow: hidden;
    }


    @media screen and (max-width: 1100px) and (min-width: 768px) {
      height: 34vw;
      .product-loop-image {
        // top: -100px;
        // position: absolute;
      }
      .mk-product-loop .mk--col--3-12 {
        width: 25% !important;
      }
    }
    @media screen and (max-width: 767px) and (min-width: 701px) {
      height: 350px;
    }
    @media screen and (max-width: 700px) and (min-width: 601px) {
      height: 300px;
    }
  }

  a {
    color: #fff;
    // border-bottom: 0;
    font-weight: 400;
  }
  .mk-product-loop.compact-layout .mk-product-holder {
    border: 0;
  }
  .mk-product-loop.compact-layout .product-title a {
    color: #fff;
  }
  .mk-product-loop.compact-layout .mk-shop-item-detail {
    text-align: center;
    padding: 15px 5px;
  }
  .mk-product-loop.compact-layout .product-item-desc {
    padding: 0;
    display: inline;
  }
  .mk-product-loop.compact-layout .product-item-desc p {
    color: #fff;
  }
  .mk-product-loop.compact-layout .product-item-desc p:first-of-type {
      display: inline-block;
      margin-bottom: 10px;
  }
  .mk-product-loop.compact-layout .product-item-desc p:nth-of-type(2) {
      // font-weight: 600;
      text-align: center !important;
      margin-bottom: 0;

      em {
        font-size: 15px;
      }
  }
  .mk-product-loop.compact-layout .product-item-desc p:nth-child(n+3) {
      display: none;
  }
  .mk-product-loop.compact-layout .product-item-desc p {
      font-size: 15px;
  }
  .mk-product-loop.compact-layout .product-item-desc p > strong {
    color: #fff;
  }
  .mk-product-loop.compact-layout .product-title {
    font-size: 14px !important;
    line-height: 18px;
    padding-right: 0;
    margin-bottom: 5px;
    letter-spacing: 0;
    display: inline;
    border-right: 1px solid #fff;
    color: #fff;
    padding-right: 3px;
    margin-right: 6px;
    font-weight: 300;
    text-transform: none;
  }
  .mk-product-loop.compact-layout .mk-shop-item-detail {
    background-color: #4a7d95;
  }
}
.home-diagram-section {
  margin-top: 60px;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    margin-bottom: 80px;
  }
  @media screen and (max-width: 400px) {
    margin-top: 0;

    .vc_col-sm-12 {
      padding-left: 0;
      padding-right: 0;
    }
    .vc_column-inner {
      padding: 0px;
      
    }
  }
}
.home-diagram-section .mk-half-layout {
  background-position: left center;
  background-size: contain;
  -webkit-background-size: contain;
  background-repeat: no-repeat;
}
.home-diagram-section ol {
  margin-left: 1em;
}
.home-diagram-section img {
  height: 90px;
  width: auto;
  &:nth-child(1) {
    padding-right: 5px;
  }
  &:nth-child(2) {
    padding-right: 15px;
  }
  @media screen and (max-width: 450px) {
    height: 70px;
    width: auto;
    margin: 0 auto;
    padding-bottom: 11px;
  }
  
}
.home-after-diagram-section {
  .wpb_row.vc_inner.vc_row.vc_row-fluid {
    max-width: 900px;
    margin: 0px auto !important;
  }
}
.rt-custom-list-2-col {
  .wpb_row.vc_inner.vc_row.vc_row-fluid {
    max-width: 600px;
    margin: 0px auto !important;
  }
}
.home-image-grid-wrap {
  .box-holder::after, .hover-effect-image.image-effect-blur .box-holder::before {
    background-size: cover;
  }
  @media screen and (max-width: 780px) {
    #box-59 .box-holder {
      padding: 30px 20px !important;
    }
  }
  @media screen and (max-width: 480px) {
    #box-51 .box-holder, #box-54 .box-holder, #box-57 .box-holder, #box-58 .box-holder, #box-59 .box-holder {
      min-height: 250px !important;
    }
    .wpb_column.vc_column_container.vc_col-sm-3:last-of-type {
      .wpb_wrapper {
        display: flex;
        flex-direction: column-reverse;
      }
    }
    div#box-58 {
      
    }
  }
  .vc_separator.vc_sep_pos_align_center {
    margin-bottom: 70px;

    @media screen and (max-width: 700px) {
      h4 {
        margin: 0 auto;
        text-align: center;
      }
      .vc_sep_holder {
        display: none;
      }
    }
  }
}
.home-image-grid p {
  line-height: 1.7em;
}
.home .vc_separator.vc_sep_pos_align_center h4 {
  font-size: 32px;
  color: #cecece;
  font-weight: 300;
  text-transform: none;
  font-family: 'Ubuntu';
}
.vc_separator.vc_sep_pos_align_center.custom-div-h4 h4 {
  font-size: 32px;
  color: #427b92;
  font-weight: 300;
  text-transform: none;
  font-family: 'Ubuntu';
}
.vc_separator.vc_separator_align_left.custom-div-h4 h4 {
  font-size: 22px;
  color: #ffffff;
  font-weight: 300;
  text-transform: none;
  font-family: 'Ubuntu';
  background-color: #a0bcc8;
  padding: 10px 20px;
}
.vc_separator.vc_separator_align_center.custom-div-h4.custom-div-h4-small h4 {
  font-size: 22px;
  font-weight: 400;
}

/*================= Begin FLOORING BENEFITS PAGE =================*/


.rt-internal-banner {
  border-bottom: 1px solid #427b92;
}
.internal-blue-section {
  .wpb_row .wpb_wrapper {
    // padding: 20px;
    // border: 1px solid #fff;
    // background-color: rgba(0,0,0, 0.37);
  }
}

/*================= End FLOORING BENEFITS PAGE =================*/


/*================= Begin SINGLE PRODUCTS PAGE =================*/
.woocommerce-Tabs-panel a strong {
  color: #4a7d95 !important;
  border-bottom: 1px dotted;
}

.woocommerce-product-details__custom-description img {
    width: 200px;
    display: inline-block;
    margin-bottom: 5px;
}

/* hiding caption from lightbox image */

.single-product .pswp__caption {
  display: none;
}

.single-product .variations tbody tr td.value #pa_number-of-free-samples + a.reset_variations {
  position: absolute !important;
}

.woocommerce-Tabs-panel a:hover {
  color: #4a7d95;
}
ul.ul-em-dash {
  list-style-type: none;
}
ul.ul-em-dash li:before {
  content: "— ";
  font-weight: 600;
}
h2.yikes-custom-woo-tab-title.yikes-custom-woo-tab-title-installation-maintenance {
  display: none;
}
h2.yikes-custom-woo-tab-title.yikes-custom-woo-tab-title-cleaning-warranty {
    display: none !important;
}
#mk-breadcrumbs .mk-breadcrumbs-inner {
    float: none;
    margin: 0 0px 0px 0 !important;
    display: block;
    /*text-align: center;*/
}
div#mk-breadcrumbs {
    display: inline-block;
    position: relative;
    top: 0px;
}

.page-title {
    margin: 25px 20px 5px;
    color: #484848;
    /*text-align: center;*/
    display: inline-block;
}
#mk-breadcrumbs .mk-breadcrumbs-inner.light-skin a {
    color: #4a7d95;
}
#mk-breadcrumbs .mk-breadcrumbs-inner.light-skin a:hover {
    color: #4a7d95;
}
#mk-breadcrumbs .mk-breadcrumbs-inner.light-skin {
    color: #63a6c5;
}
#mk-page-introduce {
    background-color: rgb(245, 249, 251);
}
.woocommerce div.product .woocommerce-tabs {
    padding-top: 30px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  max-height: 50px;
}
.single-product #theme-page .theme-page-wrapper .theme-content {
    padding: 50px 20px;
}
.mk-header {
    border-bottom: 0px;
}
.woocommerce-Tabs-panel {
    /*border-right: 2px solid #eee;
    border-left: 2px solid #eee;*/
    border-bottom: 2px solid #eee;
}

/*.wc-tab.panel {
    padding: 20px 25px 0px;
}*/

div#tab-additional_information h2 {
    font-size: 32px !important;
    font-family: 'Ubuntu';
    font-weight: 300;
    text-transform: none
}
.woocommerce-product-details__short-description p {
    line-height: 1.95em;
    letter-spacing: 0.015em;
}
.product_meta span.posted_in {
    font-weight: 5200;
    font-size: 14px;
}
.social-share svg {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}
.product_meta span.posted_in a {
    /* font-weight: 600; */
    font-size: 14px;
    color: #4a7d95;
    /*color: #6b9247;*/
}
.woocommerce #mk-sidebar .widget a, .woocommerce #mk-sidebar .widget span.count {
    color: #4c4c4c;
}
.single-product .summary.entry-summary .mk-love-holder {
    float: right;
    top: 30px;
    position: relative;
}
.single-product .mk-love-this span {
    color: #353535;
    font-size: 14px;
}
.single-product .entry-summary .price {
  display: block;
}
div.product_cat-free-samples .entry-summary .price {
  display: none;
}
.single-product .product h1.product_title.entry-title {
    float: left;
}
.single-product .woocommerce-Tabs-panel.woocommerce-Tabs-panel--cleaning-warranty.panel.entry-content.wc-tab {
    font-size: 16px;
}
.woocommerce .products.related {
    margin-top: 80px;
}
#theme-page .related.products h2 {
    font-size: 16px !important;
    color: #404040;
    font-weight: 700;
    text-transform: uppercase;
}
.single-product .entry-summary .entry-title, .single-product .entry-summary .title {
    font-size: 55px!important;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: none;
}
.wc-tabs li a {
    font-size: 18px;
    text-transform: none;
    letter-spacing: 0.025em;
}
.woocommerce .button.single_add_to_cart_button {
    background-position: 14px 11px;
    background-size: 16px;
    padding: 14px 20px 14px 20px!important;
}

/*.woocommerce-product-details__short-description {
    margin-bottom: 20px !important;
}*/

.woocommerce-product-details__custom-description {
    padding-bottom: 30px;
}

/* adding Disclaimer above Sample Products */

.single-product .product_cat-free-samples .woocommerce-product-details__custom-description p:last-of-type {
  padding-top: 6px;
  margin-bottom: -20px;
  padding-bottom: 5px;
  z-index: 999999;
  font-size: 16px;
  /* font-style: italic; */
  font-weight: 400;
}

span.sku_wrapper {
  display: none;
}

.woocommerce-variation-add-to-cart .quantity.buttons_added {
  display: none !important;
}

/* Making all "Add to Cart" icons change */

.woocommerce .button.single_add_to_cart_button {
  background-image: url("");
}
.woocommerce .button.single_add_to_cart_button:before {
  font-family: 'FontAwesome';
  content: "\f067";
  padding-right: 10px;
}
.mk-woocommerce-carousel .mk-button-container i > svg {
  display: none;
}
.mk-woocommerce-carousel .mk-button-container i:after {
  font-family: 'FontAwesome';
  content: "\f067";
  font-style: normal;
}
.mk-product-loop .product-item-footer a > svg {
  display: none;
}
.mk-product-loop .product-item-footer a:before {
  font-family: 'FontAwesome';
  content: "\f067";
  padding-right: 10px;
}



/*================= END SINGLE PRODUCTS PAGE =================*/

/*================= BEGIN PRODUCTS PAGE =================*/
.woocommerce-page {
  .mk-product-loop.compact-layout .mk-product-holder {
    border: 0;
  }
  .mk-product-loop.compact-layout .product-title a {
    color: #fff;
  }
  .mk-shop-item-detail {
    text-align: center
  }
  .mk-product-loop.compact-layout .product-item-desc {
    padding: 0;
    display: inline;
  }
  .mk-product-loop.compact-layout .product-item-desc p {
    color: #fff;
  }
  .mk-product-loop.compact-layout .product-item-desc p:first-of-type {
      display: inline-block;
      margin-bottom: 10px;
  }
  .mk-product-loop.compact-layout .product-item-desc p:nth-of-type(2) {
      // font-weight: 600;
      text-align: center !important;
      margin-bottom: 0;
  
      em {
        font-size: 15px;
      }
  }
  .mk-product-loop.compact-layout .product-item-desc p:nth-child(n+3) {
      display: none;
  }
  .mk-product-loop.compact-layout .product-item-desc p {
      font-size: 15px;
  }
  .mk-product-loop.compact-layout .product-item-desc p > strong {
    color: #fff;
  }
  .mk-product-loop.compact-layout .product-title {
    font-size: 14px !important;
    line-height: 18px;
    padding-right: 7px;
    margin-bottom: 5px;
    letter-spacing: 0;
    display: inline;
    border-right: 1px solid #fff;
    color: #fff;
    margin-right: 6px;
    font-weight: 300;
    text-transform: none;
  }
  .mk-product-loop.compact-layout .mk-shop-item-detail {
    background-color: #4a7d95;
  }
  .mk-product-loop .product-loop-thumb {

    @media screen and (min-width: 1001px) {
      height: 360px;
      overflow: hidden;
    }
    @media screen and (max-width: 1000px) and (min-width: 800px) {
      height: 320px;
      overflow: hidden;
    }
    @media screen and (max-width: 800px) and (min-width: 768px) {
      height: 260px;
      overflow: hidden;
    }
    @media screen and (max-width: 767px) {
      height: 360px;
      overflow: hidden;
    }
    @media screen and (max-width: 600px) {
      height: auto;
    }
  }
  section.related.products .mk-product-loop .product-loop-thumb {
    height: 270px;
    overflow: hidden;
  }
}
/*================= END PRODUCTS PAGE =================*/


/****** FOOTER ******/

#mk-footer {
  text-align: center;
}
#mk-footer .widget_nav_menu {
  padding-bottom: 40px;
  border-bottom: 1px solid #cecece;
}
#mk-footer .widget_nav_menu ul li {
  display: inline;
  text-transform: lowercase;
}
#mk-footer .widget_nav_menu ul li a > svg {
  display: none;
}
#mk-footer img.aligncenter.size-full {
  width: 330px;
}
#mk-footer .widget_nav_menu ul li a {
  padding: 5px 20px;
}
#sub-footer .mk-footer-copyright {
  text-align: center;
  float: none;
}
#mk-footer {
  .widget_nav_menu ul li.current_page_item a {
    background-color: transparent;
    font-weight: 400;
    color: $brand-blue;
  }
}